[network]
grpc = "http://injective-grpc.polkachu.com:14390" # http://k8s.testnet.chain.grpc.injective.network:443 for testnet
chain_id = "injective-1" # injective-888 for testnet

[auth]
mnemonic = "arrange cactus jewel fuel fantasy vote picture kitchen stand talk jelly foot"
address = "inj1s3hfffwfvehcmwxdltcmt5a4fntj4ytaqstxnr"

[contract]
admin = "inj1s3hfffwfvehcmwxdltcmt5a4fntj4ytaqstxnr"
code_id = 49 # 582 for testnet
max_supply = 1
collection_name = "Nebula Test"
collection_symbol = "NEBULA"
collection_description = "The first nebula deployed contract"
collection_banner_uri = "YOUR_COLLECTION_BANNER_URI_HERE"
collection_pfp_uri = "YOUR_COLLECTION_PFP_URI_HERE"
collection_ext_uri = "YOUR_COLLECTION_EXT_URI_HERE"
royalty_bps = 100 
creators = [
    { address = "inj1s3hfffwfvehcmwxdltcmt5a4fntj4ytaqstxnr", share = 100 }
]
json = "contract.json"